In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
odi_20 = pd.read_csv('D:\DBDA\Adavance Stats\pandas\Men ODI Player Innings Stats - 20th Century.csv')
odi_21 = pd.read_csv('D:\DBDA\Adavance Stats\pandas\Men ODI Player Innings Stats - 21st Century.csv')

df = pd.concat([odi_20,odi_21],axis=0)
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\dbda\AppData\Local\Temp\ipykernel_22428\1252922751.py:1: SyntaxWarning: invalid escape sequence '\D'
  odi_20 = pd.read_csv('D:\DBDA\Adavance Stats\pandas\Men ODI Player Innings Stats - 20th Century.csv')
C:\Users\dbda\AppData\Local\Temp\ipykernel_22428\1252922751.py:2: SyntaxWarning: invalid escape sequence '\D'
  odi_21 = pd.read_csv('D:\DBDA\Adavance Stats\pandas\Men ODI Player Innings Stats - 21st Century.csv')

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,RA Smith,167*,167,208,1.0,1.0,163,17,3,102.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DI Gower,158,158,177,1.0,0.0,118,18,4,133.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CWJ Athey,142*,142,208,1.0,1.0,172,14,0,82.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GA Gooch,142,142,-,1.0,0.0,134,14,0,105.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DL Amiss,137,137,-,1.0,0.0,147,18,0,93.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327323,Najibullah Zadran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327324,Rahmat Shah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327325,Hazratullah Zazai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327326,Ibrahim Zadran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327327,Ikram Alikhil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-

In [20]:
print(df.columns)

df.shape

print(df.isnull().sum())

Index(['Innings Player', 'Innings Runs Scored', 'Innings Runs Scored Num',
       'Innings Minutes Batted', 'Innings Batted Flag', 'Innings Not Out Flag',
       'Innings Balls Faced', 'Innings Boundary Fours',
       'Innings Boundary Sixes', 'Innings Batting Strike Rate',
       'Innings Number', 'Opposition', 'Ground', 'Innings Date', 'Country',
       '50's', '100's', 'Innings Runs Scored Buckets', 'Innings Overs Bowled',
       'Innings Bowled Flag', 'Innings Maidens Bowled',
       'Innings Runs Conceded', 'Innings Wickets Taken', '4 Wickets',
       '5 Wickets', '10 Wickets', 'Innings Wickets Taken Buckets',
       'Innings Economy Rate'],
      dtype='object')
Innings Player                        0
Innings Runs Scored              200085
Innings Runs Scored Num          200085
Innings Minutes Batted           200085
Innings Batted Flag              200085
Innings Not Out Flag             200085
Innings Balls Faced              200085
Innings Boundary Fours           200085
Innings Boundary Sixes           200085
Innings Batting Strike Rate      200085
Innings Number                        0
Opposition                            0
Ground                                0
Innings Date                          0
Country                               0
50's                             200085
100's                            200085
Innings Runs Scored Buckets      200085
Innings Overs Bowled             200085
Innings Bowled Flag              200085
Innings Maidens Bowled           200085
Innings Runs Conceded            200085
Innings Wickets Taken            200085
4 Wickets                        200085
5 Wickets                        200085
10 Wickets                       200085
Innings Wickets Taken Buckets    200085
Innings Economy Rate             200085
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400170 entries, 0 to 327327
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Innings Player                 400170 non-null  object
 1   Innings Runs Scored            200085 non-null  object
 2   Innings Runs Scored Num        200085 non-null  object
 3   Innings Minutes Batted         200085 non-null  object
 4   Innings Batted Flag            200085 non-null  float64
 5   Innings Not Out Flag           200085 non-null  float64
 6   Innings Balls Faced            200085 non-null  object
 7   Innings Boundary Fours         200085 non-null  object
 8   Innings Boundary Sixes         200085 non-null  object
 9   Innings Batting Strike Rate    200085 non-null  object
 10  Innings Number                 400170 non-null  object
 11  Opposition                     400170 non-null  object
 12  Ground                         400170 non-null  object
 13  Innings Date                   400170 non-null  object
 14  Country                        400170 non-null  object
 15  50's                           200085 non-null  float64
 16  100's                          200085 non-null  float64
 17  Innings Runs Scored Buckets    200085 non-null  object
 18  Innings Overs Bowled           200085 non-null  object
 19  Innings Bowled Flag            200085 non-null  float64
 20  Innings Maidens Bowled         200085 non-null  object
 21  Innings Runs Conceded          200085 non-null  object
 22  Innings Wickets Taken          200085 non-null  object
 23  4 Wickets                      200085 non-null  float64
 24  5 Wickets                      200085 non-null  float64
 25  10 Wickets                     200085 non-null  float64
 26  Innings Wickets Taken Buckets  200085 non-null  object
 27  Innings Economy Rate           200085 non-null  object
dtypes: float64(8), object(20)
memory usage: 88.5+ MB

In [31]:
# Convert all object values to integer (coerce non-convertible ones to NaN)
df["Innings Runs Conceded"] = pd.to_numeric(df["Innings Runs Conceded"])

In [32]:
df["Innings Runs Conceded"]=df['Innings Runs Conceded'].replace('NaN', 0)

In [22]:
df["Innings Wickets Taken"]=df['Innings Wickets Taken'].replace('NaN', 0)

In [34]:
df["Innings Runs Conceded"].isnull().sum()

291984

In [24]:
df.isnull().sum()

Innings Player                        0
Innings Runs Scored              200085
Innings Runs Scored Num          200085
Innings Minutes Batted           200085
Innings Batted Flag              200085
Innings Not Out Flag             200085
Innings Balls Faced              200085
Innings Boundary Fours           200085
Innings Boundary Sixes           200085
Innings Batting Strike Rate      200085
Innings Number                        0
Opposition                            0
Ground                                0
Innings Date                          0
Country                               0
50's                             200085
100's                            200085
Innings Runs Scored Buckets      200085
Innings Overs Bowled             200085
Innings Bowled Flag              200085
Innings Maidens Bowled           200085
Innings Runs Conceded            200085
Innings Wickets Taken            200085
4 Wickets                        200085
5 Wickets                        200085
10 Wickets                       200085
Innings Wickets Taken Buckets    200085
Innings Economy Rate             200085
dtype: int64

In [25]:
df["Innings Runs Conceded"].dtype

dtype('O')

In [26]:
df['Bowling average']=df[df['Innings Runs Conceded']/df["Innings Wickets Taken"]]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
df_Eng = df[df["Country"]=="England"]
df_Aus = df[df["Country"]=="Australia"]
df_Ind = df[df["Country"]=="India"]
df_Pak = df[df["Country"]=="Pakistan"]

In [ ]:
['Innings Runs']=srt['Innings Runs Scored Num'].str.replace('NaN', 0).astype(int)