Assignment 3 - 14 December 2023 - Conditional Probability and Bayes Theorem

Write code to generate a dataframe using numpy random function. It should contain data about 1000 cricket matches in which toss was won or lost and the match was one or lost. 

Use Bayes theorem to find the probability of winning the match when the toss was won, i.e. P(A|B). 

Consider event A = winning the match, event B = winning the toss. Use randomly generated values for P(A), P(B) and P(B|A).

Then modify the code to do this on a real data set of cricket matches.

In [2]:
#importing libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
#loading dataset 
df20 =pd.read_csv("D:/DBDA/Adavance Stats/pandas/Men ODI Team Match Results - 20th Century.csv")
df21 =pd.read_csv("D:/DBDA/Adavance Stats/pandas/Men ODI Team Match Results - 21st Century.csv")

In [4]:
#viewing data from df20
df20

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Australia v England,Away,Melbourne,1971/01/05,Jan,1971,Jan 1971,1,England
1,Won,6 wickets,England v Australia,Home,Manchester,1972/08/24,Aug,1972,Aug 1972,1,England
2,Lost,5 wickets,England v Australia,Home,Lord's,1972/08/26,Aug,1972,Aug 1972,1,England
3,Won,2 wickets,England v Australia,Home,Birmingham,1972/08/28,Aug,1972,Aug 1972,1,England
4,Won,7 wickets,England v New Zealand,Home,Swansea,1973/07/18,Jul,1973,Jul 1973,1,England
...,...,...,...,...,...,...,...,...,...,...,...
3366,Lost,6 wickets,Australia v Scotland,Away,Worcester,1999/05/16,May,1999,May 1999,1,Scotland
3367,Lost,94 runs,Pakistan v Scotland,Away,Chester-le-Street,1999/05/20,May,1999,May 1999,1,Scotland
3368,Lost,22 runs,Scotland v Bangladesh,Home,Edinburgh,1999/05/24,May,1999,May 1999,1,Scotland
3369,Lost,8 wickets,Scotland v West Indies,Home,Leicester,1999/05/27,May,1999,May 1999,1,Scotland
3370,Lost,6 wickets,Scotland v New Zealand,Home,Edinburgh,1999/05/31,May,1999,May 1999,1,Scotland

In [5]:
#checking null values count for df20
df20.isnull().sum()

Result           0
Margin          12
Match            0
Home/Away        0
Ground           0
Match Date       0
Match Month      0
Match Year       0
Match Period     0
Matches          0
Country          0
dtype: int64

In [6]:
#checking null values count for df21
df21.isnull().sum()

Result          0
Margin          7
Match           0
Home/Away       0
Ground          0
Match Date      0
Match Month     0
Match Year      0
Match Period    0
Matches         0
Country         0
dtype: int64

In [7]:
#changing '-' from column Margin to 'no result' 
df21['Margin'].fillna("no result",inplace=True)

In [8]:
#concatenating given 2 dataframes in single
df = pd.concat([df20, df21], axis=0)
df
len(df)

8541

In [9]:
#checking null values count for df
df.isnull().sum()

Result           0
Margin          12
Match            0
Home/Away        0
Ground           0
Match Date       0
Match Month      0
Match Year       0
Match Period     0
Matches          0
Country          0
dtype: int64

In [10]:
# creating new data frame df1 where we are eliminating N/R Can abn Tied from Results column
df1 =df[(df['Result'] !="N/R") & (df['Result'] !="Aban") & (df['Result'] !="Tied") & (df['Result'] !="Canc") & (df['Country'] =="India")]
df1

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
1806,Lost,4 wickets,England v India,Away,Leeds,1974/07/13,Jul,1974,Jul 1974,1,India
1807,Lost,6 wickets,England v India,Away,The Oval,1974/07/15,Jul,1974,Jul 1974,1,India
1808,Lost,202 runs,England v India,Away,Lord's,1975/06/07,Jun,1975,Jun 1975,1,India
1809,Won,10 wickets,East Africa v India,Away,Leeds,1975/06/11,Jun,1975,Jun 1975,1,India
1810,Lost,4 wickets,India v New Zealand,Home,Manchester,1975/06/14,Jun,1975,Jun 1975,1,India
...,...,...,...,...,...,...,...,...,...,...,...
2763,Won,36 runs,India v Australia,Home,Rajkot,2020/01/17,Jan,2020,Jan 2020,1,India
2764,Won,7 wickets,India v Australia,Home,Bengaluru,2020/01/19,Jan,2020,Jan 2020,1,India
2765,Lost,4 wickets,New Zealand v India,Away,Hamilton,2020/02/05,Feb,2020,Feb 2020,1,India
2766,Lost,22 runs,New Zealand v India,Away,Auckland,2020/02/08,Feb,2020,Feb 2020,1,India
2767,Lost,5 wickets,New Zealand v India,Away,Mount Maunganui,2020/02/11,Feb,2020,Feb 2020,1,India

In [11]:
#Renaming column Home?Away to HomeAway
df1.rename(columns={'Home/Away':"HomeAway"},inplace=True)

C:\Users\dbda\AppData\Local\Temp\ipykernel_12304\1111701173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'Home/Away':"HomeAway"},inplace=True)

In [12]:
#making a dataframe where we are selecting entries having country==India
df_ind = df1.query("Country =='India'")
df_ind

,Result,Margin,Match,HomeAway,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
1806,Lost,4 wickets,England v India,Away,Leeds,1974/07/13,Jul,1974,Jul 1974,1,India
1807,Lost,6 wickets,England v India,Away,The Oval,1974/07/15,Jul,1974,Jul 1974,1,India
1808,Lost,202 runs,England v India,Away,Lord's,1975/06/07,Jun,1975,Jun 1975,1,India
1809,Won,10 wickets,East Africa v India,Away,Leeds,1975/06/11,Jun,1975,Jun 1975,1,India
1810,Lost,4 wickets,India v New Zealand,Home,Manchester,1975/06/14,Jun,1975,Jun 1975,1,India
...,...,...,...,...,...,...,...,...,...,...,...
2763,Won,36 runs,India v Australia,Home,Rajkot,2020/01/17,Jan,2020,Jan 2020,1,India
2764,Won,7 wickets,India v Australia,Home,Bengaluru,2020/01/19,Jan,2020,Jan 2020,1,India
2765,Lost,4 wickets,New Zealand v India,Away,Hamilton,2020/02/05,Feb,2020,Feb 2020,1,India
2766,Lost,22 runs,New Zealand v India,Away,Auckland,2020/02/08,Feb,2020,Feb 2020,1,India
2767,Lost,5 wickets,New Zealand v India,Away,Mount Maunganui,2020/02/11,Feb,2020,Feb 2020,1,India

In [13]:
# Probability of matches where Loaction is Home and Results are Won By India

p_a_and_b=len(df_ind.query("HomeAway=='Home' and Result=='Won'"))/len(df_ind)
p_a_and_b

0.35432230522945574

In [14]:
# Probability of matches where Loaction is Home  India
p_a=len(df_ind.query("HomeAway=='Home'"))/len(df_ind)
p_a

0.6029882604055496

In [15]:
# Probability of matches where Results are Won By India
print("Probability of matches where Results are Won By India")
p_b =len(df_ind.query("Result=='Won'"))/len(df_ind)
p_b

Probability of matches where Results are Won By India

0.5474919957310566

In [16]:

# Probability of matches where Loaction is Home and Results were Won By India
p_a_given_b =(p_a_and_b)/p_b

p_a_given_b

0.6471734892787525

In [17]:
# Probability of matches where Results are Won and Loaction was Home By India
p_b_given_a =(p_a_and_b)/p_a

p_b_given_a

0.5876106194690266

In [18]:
#bayes thm
# Probability of matches where Results are Won and Loaction was Home By India
p_b_given_a_by_bayes =(p_a_given_b *p_b)/p_a
print("Probability of matches where Results are Won and Loaction was Home for country India",p_b_given_a_by_bayes)

Probability of matches where Results are Won and Loaction was Home for country India 0.5876106194690266